.cursor {
  overflow: hidden;
  border-right: 0.15em solid black;
  letter-spacing: 0.15em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: typing 3 steps(60, end), blink 1s step-end infinite;
  word-wrap: normal;
}

.proj-name {
  position: absolute;
  top: 30%;
  text-align: center;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image {
  height: 100vh;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 57.5%;
  }
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

#backgroundimg {
  background-image: url("../carttech-teamphoto.png");
  width: 100%;
  height: 100vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  opacity: 50%;
  background-size: cover;
  background-position: center;
}
